/* Write your code here. */
.nav-bar-container {
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: #ffffff33;
}
.title-with-score-container {
  max-width: 1000px;
  display: flex;
  flex-basis: 80%;
  justify-content: space-between;
}
.logo-and-title-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 24px;
}
.title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
.scores-container {
  display: flex;
}
.score {
  margin-left: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
}
